/*<meta />*/

@media only screen and (max-width: 767px)
{
	.search-bar
	{
		width: 100%;
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		max-height: 200px;
	}

	ul.menu._Skins_SideMenu.mc-component
	{
		display: none;
		background-color: transparent;
	}

	ul.menu._Skins_SideMenu.mc-component a
	{
		
	}

	ul.menu._Skins_SideMenu.mc-component li > a
	{
		background: transparent;
		background: -moz-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#b0c4de));
		background: -webkit-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -o-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: -ms-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: linear-gradient(#f5f5f5 0%,#b0c4de 100%);
		-pie-background: linear-gradient(#f5f5f5, #b0c4de);
	}

	ul.menu._Skins_SideMenu.mc-component ul > li > a
	{
		background: transparent;
		background: -moz-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#b0c4de));
		background: -webkit-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -o-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: -ms-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: linear-gradient(#f5f5f5 0%,#b0c4de 100%);
		-pie-background: linear-gradient(#f5f5f5, #b0c4de);
	}

	ul.menu._Skins_SideMenu.mc-component ul ul > li > a
	{
		background: transparent;
		background: -moz-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#b0c4de));
		background: -webkit-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -o-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: -ms-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: linear-gradient(#f5f5f5 0%,#b0c4de 100%);
		-pie-background: linear-gradient(#f5f5f5, #b0c4de);
	}

	ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a
	{
		background: transparent;
		background: -moz-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#b0c4de));
		background: -webkit-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -o-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: -ms-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: linear-gradient(#f5f5f5 0%,#b0c4de 100%);
		-pie-background: linear-gradient(#f5f5f5, #b0c4de);
	}

	ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a
	{
		background: transparent;
		background: -moz-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#b0c4de));
		background: -webkit-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -o-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: -ms-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: linear-gradient(#f5f5f5 0%,#b0c4de 100%);
		-pie-background: linear-gradient(#f5f5f5, #b0c4de);
	}

	ul.menu._Skins_SideMenu.mc-component li > a.selected
	{
		background: transparent;
		background: -moz-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#b0c4de));
		background: -webkit-linear-gradient(top, #f5f5f5 0%, #b0c4de 100%);
		background: -o-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: -ms-linear-gradient(top, #f5f5f5 0%,#b0c4de 100%);
		background: linear-gradient(#f5f5f5 0%,#b0c4de 100%);
		-pie-background: linear-gradient(#f5f5f5, #b0c4de);
	}

	ul.menu._Skins_SideMenu.mc-component li > a:hover
	{
		background-color: #cacaca;
	}

	ul.menu._Skins_SideMenu.mc-component ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu._Skins_SideMenu.mc-component li > a.selected:hover
	{
		background-color: #cacaca;
	}

	.buttons._Skins_TopicToolBar.mc-component
	{
		display: none;
	}

	._Skins_TopicToolBar.mc-component .button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button > div
	{
		
	}

	._Skins_TopicToolBar.mc-component .button .button-icon-wrapper
	{
		
	}

	._Skins_TopicToolBar.mc-component .button .button-text
	{
		
	}

	._Skins_TopicToolBar.mc-component .button.collapse-all-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.current-topic-index-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.expand-all-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.login-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.next-topic-button
	{
		background-repeat: no-repeat;
		background: #8bc086;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.previous-topic-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.print-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.remove-highlight-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.select-language-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.select-skin-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(#ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.topic-ratings-empty-button
	{
		background: transparent url('Images/star-empty.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/star-empty.png') no-repeat center center;
		background-size: 16px 16px;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_TopicToolBar.mc-component .button-separator
	{
		background-color: #e1e1e1;
	}

	.mc-component .elearning-progress-bar-inner
	{
		background-color: #076685;
	}

	.mc-component .elearning-progress-bar
	{
		background-color: #e0e1e2;
	}

	.mc-component .elearning-progress-text
	{
		
	}

	.mc-component .elearning-progress-wrapper
	{
		
	}

	.buttons.mc-component
	{
		
	}

	.mc-component .elearning-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #cecece 0%, #cecece 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#cecece));
		background: -webkit-linear-gradient(top, #cecece 0%, #cecece 100%);
		background: -o-linear-gradient(top, #cecece 0%,#cecece 100%);
		background: -ms-linear-gradient(top, #cecece 0%,#cecece 100%);
		background: linear-gradient(#cecece 0%,#cecece 100%);
		-pie-background: linear-gradient(#cecece, #cecece);
		background-position: center center;
	}

	.mc-component .elearning-button > div
	{
		
	}

	.mc-component .elearning-button .button-icon-wrapper
	{
		
	}

	.mc-component .elearning-button .button-text
	{
		
	}

	.mc-component .elearning-button.complete-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #cecece 0%, #cecece 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#cecece));
		background: -webkit-linear-gradient(top, #cecece 0%, #cecece 100%);
		background: -o-linear-gradient(top, #cecece 0%,#cecece 100%);
		background: -ms-linear-gradient(top, #cecece 0%,#cecece 100%);
		background: linear-gradient(#cecece 0%,#cecece 100%);
		-pie-background: linear-gradient(#cecece, #cecece);
	}

	.mc-component .elearning-button.next-topic-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #cecece 0%, #cecece 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#cecece));
		background: -webkit-linear-gradient(top, #cecece 0%, #cecece 100%);
		background: -o-linear-gradient(top, #cecece 0%,#cecece 100%);
		background: -ms-linear-gradient(top, #cecece 0%,#cecece 100%);
		background: linear-gradient(#cecece 0%,#cecece 100%);
		-pie-background: linear-gradient(#cecece, #cecece);
	}

	.mc-component .elearning-button.previous-topic-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #cecece 0%, #cecece 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#cecece));
		background: -webkit-linear-gradient(top, #cecece 0%, #cecece 100%);
		background: -o-linear-gradient(top, #cecece 0%,#cecece 100%);
		background: -ms-linear-gradient(top, #cecece 0%,#cecece 100%);
		background: linear-gradient(#cecece 0%,#cecece 100%);
		-pie-background: linear-gradient(#cecece, #cecece);
	}

	.mc-component .elearning-button:disabled
	{
		background: #ececec;
		background: -moz-linear-gradient(top, #e0e1e2 0%, #e0e1e2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e1e2), color-stop(100%,#e0e1e2));
		background: -webkit-linear-gradient(top, #e0e1e2 0%, #e0e1e2 100%);
		background: -o-linear-gradient(top, #e0e1e2 0%,#e0e1e2 100%);
		background: -ms-linear-gradient(top, #e0e1e2 0%,#e0e1e2 100%);
		background: linear-gradient(#e0e1e2 0%,#e0e1e2 100%);
		-pie-background: linear-gradient(#e0e1e2, #e0e1e2);
	}

	.mc-component .elearning-button:disabled .button-icon
	{
		
	}

	.mc-component .elearning-button:disabled .button-text
	{
		
	}

	.mc-component .elearning-button.complete-button:disabled
	{
		background: #ececec;
		background: -moz-linear-gradient(top, #e0e1e2 0%, #e0e1e2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e1e2), color-stop(100%,#e0e1e2));
		background: -webkit-linear-gradient(top, #e0e1e2 0%, #e0e1e2 100%);
		background: -o-linear-gradient(top, #e0e1e2 0%,#e0e1e2 100%);
		background: -ms-linear-gradient(top, #e0e1e2 0%,#e0e1e2 100%);
		background: linear-gradient(#e0e1e2 0%,#e0e1e2 100%);
		-pie-background: linear-gradient(#e0e1e2, #e0e1e2);
	}

	.mc-component .elearning-button.next-topic-button:disabled
	{
		background: #ececec;
		background: -moz-linear-gradient(top, #e0e1e2 0%, #e0e1e2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e1e2), color-stop(100%,#e0e1e2));
		background: -webkit-linear-gradient(top, #e0e1e2 0%, #e0e1e2 100%);
		background: -o-linear-gradient(top, #e0e1e2 0%,#e0e1e2 100%);
		background: -ms-linear-gradient(top, #e0e1e2 0%,#e0e1e2 100%);
		background: linear-gradient(#e0e1e2 0%,#e0e1e2 100%);
		-pie-background: linear-gradient(#e0e1e2, #e0e1e2);
	}

	.mc-component .elearning-button.previous-topic-button:disabled
	{
		background: #ececec;
		background: -moz-linear-gradient(top, #e0e1e2 0%, #e0e1e2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e1e2), color-stop(100%,#e0e1e2));
		background: -webkit-linear-gradient(top, #e0e1e2 0%, #e0e1e2 100%);
		background: -o-linear-gradient(top, #e0e1e2 0%,#e0e1e2 100%);
		background: -ms-linear-gradient(top, #e0e1e2 0%,#e0e1e2 100%);
		background: linear-gradient(#e0e1e2 0%,#e0e1e2 100%);
		-pie-background: linear-gradient(#e0e1e2, #e0e1e2);
	}

	.mc-component .elearning-button:hover:enabled
	{
		background: #ececec;
		background: -moz-linear-gradient(top, #076685 0%, #076685 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#076685), color-stop(100%,#076685));
		background: -webkit-linear-gradient(top, #076685 0%, #076685 100%);
		background: -o-linear-gradient(top, #076685 0%,#076685 100%);
		background: -ms-linear-gradient(top, #076685 0%,#076685 100%);
		background: linear-gradient(#076685 0%,#076685 100%);
		-pie-background: linear-gradient(#076685, #076685);
	}

	.mc-component .elearning-button:hover:enabled .button-icon
	{
		
	}

	.mc-component .elearning-button:hover:enabled .button-text
	{
		
	}

	.mc-component .elearning-button.complete-button:hover:enabled
	{
		background: #ececec;
		background: -moz-linear-gradient(top, #076685 0%, #076685 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#076685), color-stop(100%,#076685));
		background: -webkit-linear-gradient(top, #076685 0%, #076685 100%);
		background: -o-linear-gradient(top, #076685 0%,#076685 100%);
		background: -ms-linear-gradient(top, #076685 0%,#076685 100%);
		background: linear-gradient(#076685 0%,#076685 100%);
		-pie-background: linear-gradient(#076685, #076685);
	}

	.mc-component .elearning-button.next-topic-button:hover:enabled
	{
		background: #ececec;
		background: -moz-linear-gradient(top, #076685 0%, #076685 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#076685), color-stop(100%,#076685));
		background: -webkit-linear-gradient(top, #076685 0%, #076685 100%);
		background: -o-linear-gradient(top, #076685 0%,#076685 100%);
		background: -ms-linear-gradient(top, #076685 0%,#076685 100%);
		background: linear-gradient(#076685 0%,#076685 100%);
		-pie-background: linear-gradient(#076685, #076685);
	}

	.mc-component .elearning-button.previous-topic-button:hover:enabled
	{
		background: #ececec;
		background: -moz-linear-gradient(top, #076685 0%, #076685 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#076685), color-stop(100%,#076685));
		background: -webkit-linear-gradient(top, #076685 0%, #076685 100%);
		background: -o-linear-gradient(top, #076685 0%,#076685 100%);
		background: -ms-linear-gradient(top, #076685 0%,#076685 100%);
		background: linear-gradient(#076685 0%,#076685 100%);
		-pie-background: linear-gradient(#076685, #076685);
	}

	.mc-component .button-separator
	{
		background-color: #e1e1e1;
	}
}

